{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- footer -->
<footer>
    <!-- newsletter -->
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
            <h3 class="text-white">Subscribe Now</h3>
            <form action="{% url 'event_view' %}" method='post'>
              <div class="input-wrapper">
                {% csrf_token %}
                <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                <button type="submit" value="send" class="btn btn-primary">Join</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  <!-- footer content -->
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <!-- logo -->
          <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="{% static 'main/images/logo.png' %}" alt="logo"></a>
          <div class="row">
            <div class="col">
              <a href='#'><i  class="fa fa-facebook text-white" style="font-size: 50px;" aria-hidden="true"></i></a>
            </div>
            <div class="col"> 
              <a href='#'><i class="fa fa-instagram text-white" style="font-size: 50px;" aria-hidden="true"></i></a>
            </div>
            <div class="col">
              <a href='#'><i class="fa fa-youtube text-white " style="font-size: 50px;" aria-hidden="true"></i></a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>

          </div>

        </div>
        <!-- links -->
        <div class="col-md-1"></div>
        <div class="col-md-3 ">
          <h4 class="text-white mb-5">Address</h4>
          <ul class="list-unstyled">
            <li class="my-3">
              <i class="fa fa-phone" aria-hidden="true"> &nbsp;+91-94190 52496    |  +91-9906413186  </i>
            </li>
            <li class="my-2">
              <i class="fa fa-envelope" aria-hidden="true"> &nbsp;<a class="text-decoration-none" href="mailto:ssmkashmir@gmail.com">ssmkashmir@gmail.com</a></i>
            </li>
            <li class="my-2">
              <i class="fa fa-map-pin" aria-hidden="true"> &nbsp;Parihaspora, Pattan, Baramulla, JK</i>
              <li> <a href="https://www.ssmengg.edu.in">College Portal</a></li>
            </li>
          </ul>
        </div>
        <div class="col-md-1"></div>
        <!-- company -->
        <div class="col-md-3">
          <h4 class="text-white mb-5">Useful Links</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="/#about">About Us</a></li>
            <li class="mb-3"><a class="text-color" href="/#teachers">Our Teacher</a></li>
            <li class="mb-3"><a class="text-color" href="/contact">Contact</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->