{% load static %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- jQuery -->
<script src="{% static 'main/plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'main/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'main/plugins/slick/slick.min.js' %}"></script>
<!-- aos -->
<script src="{% static 'main/plugins/aos/aos.js' %}"></script>
<!-- venobox popup -->
<script src="{% static 'main/plugins/venobox/venobox.min.js' %}"></script>
<!-- filter -->
<script src="{% static 'main/plugins/filterizr/jquery.filterizr.min.js' %}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>


<script src="{% static 'main/plugins/google-map/gmap.js' %}"></script>
<script src="{% static 'js/html2pdf.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'main/js/script.js' %}"></script>
